
<table>
    <tr><td>Nº preguntas</td><td><%= numPreg %></td></tr>
    <tr><td>Nº Comentarios totales</td><td><%= numComent %></td></tr>
    <tr><td>Media comentarios por pregunta</td><td><%= media  %></td></tr>
    <tr><td>Preguntas sin comentarios</td><td><%= numPregSin %></td></tr>
    <tr><td>Preguntas con comentarios</td><td><%= numPregCon %></td></tr>
</table>